*{
    scroll-behavior: smooth;
}
.downbar{
    display: flex;
    overflow-x: scroll;
    padding: .3rem 0;
}
.downbar .downbar-post{
    display: flex;
    margin: 0;
    flex-shrink: 0;
    width: 300px;
}
.downbar *{
    padding: 0;
}
.downbar .downbar-post img{
    height: 140px;
}
.downbar .downbar-post .id-post{
    color: #b7b7b7;
    font-size: 1.5rem;
    margin-left: .3rem;
}
.downbar .downbar-post .description{
    line-height: 1.3rem;
}
.downbar .downbar-post .box{
    display: flex;
    flex-direction: column;
}

.downbar .downbar-post a{
    color: gray;
    margin: .3rem;
}
.downbar .downbar-post a:hover{
    color: slateblue;
}


/*SCROLL BUTTONS*/
.downbar{
    position: relative;
}
.downbar .leftButton, .downbar .rightButton{
    position: sticky;
    top: 0; bottom: 0;

    padding: 0 1rem;
    margin: .3rem -1.7rem;
    font-size: 3.5rem;
    border-radius: .3rem;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    transition: .3s;
}
.downbar .rightButton{
    right: 0;
}
.downbar .leftButton{
    left: 0;
}
.downbar:hover .leftButton, .downbar:hover .rightButton{
    display: block;
    color: #ffffffaf;
    background: #000000b8;
    transform: translateX(0);
}